<div class="grid">
  <canvas #board class="game-board"></canvas>
  <div class="right-column">
    <div>
      <img src="assets/images/under-construction.gif" alt="Under Construction" />
      <h1>TETRIZ<sup>xyz</sup></h1>
      <p>Score: {{ points }}</p>
      <p>Lines: {{ lines }}</p>
      <p>Level: {{ level }}</p>
      <p>Next Block:</p>
      <canvas #next class="next"></canvas>
    </div>
    <div class="button-container">
      <button (click)="start()" class="play-button">Start</button>
      <button (click)="gameOver()" class="reset-button button">Reset</button>
      <button (click)="pause()" class="pause-button button" [class.button-disabled]="!gameStarted">Pause</button>
    </div>
  </div>
</div>
