h1 {
  font-weight: 800;
  letter-spacing: 4px;
}

sup {
  font-size: 0.75em;
}

.grid {
  display: grid;
  grid-template-columns: 320px 200px;
}

.game-board {
  border: solid 2px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.play-button {
  background-color: #4caf50;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .play-button {
    background-color: #4caf50;
  }

  .reset-button {
    background-color: #ff4d4d;
  }

  .pause-button {
    background-color: #ffff80;

    &.button-disabled {
      background-color: #cccccc;
    }
  }

  .button {
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    width: 140px;
    border: 1px solid black;
  }
}
