// app theme colors
$app-white: #f2f2f2;
$app-light-gray: #cbc6c4;
$app-med-gray: #989391;
$app-gray: #4e4e4e;
$app-black: #1e1e1e;

// font stacks
$title-font: 'Varela Round', serif;
$sans-serif-font: 'Open Sans', sans-serif;
